main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  main div {
    display: flex;
    border: 4px solid black;
    position: absolute;
    background-color: #faf3eb;
    color: white;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 90em) {
      main div {
        height: 62.1%; } }
    main div p {
      padding: 2em;
      font-size: 1.5em; }
    main div a {
      font-size: 1.2em;
      border: 3px solid;
      padding: 0.5em;
      border: 2px solid black;
      text-transform: uppercase; }
      @media screen and (max-width: 90em) {
        main div a {
          font-size: 13px; } }
  main #div-1 {
    height: 41%;
    width: 36%;
    top: -6px;
    position: relative;
    flex-direction: column;
    z-index: 1;
    color: black;
    font-family: 'Dosis', sans-serif; }
    @media screen and (max-width: 90em) {
      main #div-1 P {
        font-size: 16px; } }
  main #paralax-1 {
    height: 70%;
    width: 65%;
    z-index: 2;
    left: 35%;
    bottom: -55%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.329)), url(/src/assets/img/foto1.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    main #paralax-1 p {
      letter-spacing: 10px;
      font-size: 5.5em;
      padding: 29px;
      font-weight: bold;
      border: 14px solid white; }
  main #paralax-2 {
    top: 140%;
    height: 60%;
    width: 68%;
    z-index: 3;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.329)), url(../img/foto3.jpg);
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    main #paralax-2 p {
      letter-spacing: 10px;
      font-size: 5.5em;
      padding: 29px;
      font-weight: bold;
      border: 14px solid white; }
  main #div-4 {
    height: 46%;
    width: 33%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    z-index: 1;
    top: 154%;
    right: 0%;
    color: black; }
    @media screen and (max-width: 90em) {
      main #div-4 {
        height: 62.1%; }
        main #div-4 p {
          font-size: 16px; } }

/* Nav */
/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 10, 15, 0.753);
  z-index: 5;
  height: 8%;
  color: white; }
  footer .icons a {
    background-image: url(/src/assets/img/facebook.svg); }
    footer .icons a img {
      padding: 0 3px;
      height: 25px; }

nav {
  display: flex;
  color: white;
  -webkit-box-shadow: inset 0px 111px 51px -28px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: inset 0px 111px 51px -28px rgba(0, 0, 0, 0.84);
  box-shadow: inset 0px 111px 51px -28px rgba(0, 0, 0, 0.84); }
  nav .trigger {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3%;
    z-index: 4; }
  nav .option1 {
    transition: background 280ms ease-in;
    animation: slide 2s ease;
    --bg-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 5;
    background-color: var(--bg-color);
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    margin-top: 0; }
@keyframes slide {
  0% {
    transform: translate(0, 20px); }
  100% {
    transform: translate(0, 0); } }
    nav .option1 a {
      height: 5%;
      color: white;
      text-decoration: none; }
      nav .option1 a:hover {
        color: #cb8820; }
    nav .option1 #logo {
      --lg-h: 41%;
      --lg-w: 15%;
      --border: 4px;
      display: flex;
      color: white;
      border: var(--border) solid white;
      text-align: center;
      margin: 25px 48px;
      width: var(--lg-w);
      height: var(--lg-h);
      letter-spacing: 5px;
      padding: 1em;
      line-height: 42px;
      animation: slide 2s ease; }
@keyframes slide {
  0% {
    transform: translate(0, 20px); }
  100% {
    transform: translate(0, 0); } }
      @media screen and (max-width: 90em) {
        nav .option1 #logo {
          font-size: 20px; } }
    nav .option1 #index {
      display: flex;
      margin: 30px 0em;
      justify-content: flex-end;
      width: 71%;
      text-align: center;
      align-items: center;
      animation: slide 2s ease;
      font-size: 20px; }
@keyframes slide {
  0% {
    transform: translate(0, 20px); }
  100% {
    transform: translate(0, 0); } }
      @media screen and (max-width: 90em) {
        nav .option1 #index {
          font-size: 12px; } }
      nav .option1 #index a {
        text-transform: uppercase;
        margin-left: 2em;
        letter-spacing: 3px; }
      nav .option1 #index #reserve {
        border: 2px solid white;
        padding: 8px; }
  nav .scrolled-nav {
    --bg-color: rgba(0, 10, 15, 0.753); }
    nav .scrolled-nav #logo {
      --lg-w:20%;
      --lg-h:45px;
      --border:2px;
      line-height: 0px; }

.menu-index {
  background: #faf3eb; }
  .menu-index #special-logo {
    animation: slide 1s ease;
    position: absolute;
    top: 62%;
    left: 29.5%;
    color: white;
    border: 8px solid;
    font-size: 5em;
    padding: 5px 40px;
    animation: slide 2s ease; }
@keyframes slide {
  0% {
    transform: translate(0, 40px); }
  100% {
    transform: translate(0, 0); } }
  .menu-index .meals {
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    margin: 0 1.5em 87px 1.5em; }
    .menu-index .meals .options {
      display: flex;
      justify-content: center; }
    .menu-index .meals #dinner {
      border: 2px solid #F49C1E; }
    .menu-index .meals a {
      display: flex;
      position: relative;
      top: -23px;
      padding: 2em;
      font-weight: 400;
      margin-right: 2em;
      padding: 8px 25px;
      text-decoration: none;
      border: none;
      color: #F49C1E;
      letter-spacing: 2px;
      background-color: #faf3eb; }
      .menu-index .meals a:hover {
        animation: zoom-out .5s ease;
        transition: border 280ms;
        border: 2px solid #F49C1E;
        transform: scale(1.1, 1); }
@keyframes zoom-out {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.1, 1); } }
        .menu-index .meals a:hover p {
          transform: scale(0.9, 1); }
  .menu-index .dinner-content {
    background-color: #faf3eb;
    display: flex;
    width: 36%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    flex-direction: column; }
    .menu-index .dinner-content h1 {
      border-bottom: 2px solid;
      margin-top: 1em;
      position: relative;
      font-size: 40px;
      right: 25%;
      width: 149%; }
      .menu-index .dinner-content h1 span {
        background-color: #faf3eb;
        position: relative;
        top: 29px;
        padding: 0 20px; }
    .menu-index .dinner-content h2 {
      margin-top: 3em;
      position: relative;
      font-size: 35px;
      right: 25%;
      width: 149%; }
    .menu-index .dinner-content p {
      margin-top: 2em; }

.location-hours {
  background: #faf3eb; }
  .location-hours #special-logo {
    animation: slide 1s ease;
    position: absolute;
    top: 62%;
    left: 23.3%;
    color: white;
    font-size: 5em;
    padding: 5px 40px;
    animation: slide 2s ease; }
@keyframes slide {
  0% {
    transform: translate(0, 40px); }
  100% {
    transform: translate(0, 0); } }
  .location-hours .meals {
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    margin: 0 1.5em 87px 1.5em;
    display: flex;
    flex-direction: row; }
    .location-hours .meals a {
      display: flex;
      position: relative;
      top: -23px;
      padding: 2em;
      font-weight: 400;
      margin-right: 2em;
      padding: 8px 25px;
      text-decoration: none;
      border: none;
      color: #F49C1E;
      letter-spacing: 2px;
      background-color: #faf3eb; }
      .location-hours .meals a:hover {
        animation: zoom-out .5s ease;
        transition: border 280ms;
        border: 2px solid #F49C1E;
        transform: scale(1.1, 1); }
@keyframes zoom-out {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.1, 1); } }
        .location-hours .meals a:hover p {
          transform: scale(0.9, 1); }
  .location-hours .dinner-content {
    background-color: #faf3eb;
    display: flex;
    width: 36%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    flex-direction: column; }
    .location-hours .dinner-content h1 {
      margin-top: 1em;
      position: relative;
      font-size: 40px;
      right: 25%;
      width: 149%; }
      .location-hours .dinner-content h1 span {
        background-color: #faf3eb;
        position: relative;
        top: 29px;
        padding: 0 20px; }
    .location-hours .dinner-content h2 {
      margin-top: 3em;
      position: relative;
      font-size: 35px;
      right: 25%;
      width: 149%; }
    .location-hours .dinner-content p {
      margin-top: 2em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  background-color: #faf3eb; }

body {
  height: 100%;
  font-family: 'Nunito', sans-serif; }

.img-home {
  height: 101%;
  width: 100%;
  filter: brightness(0.5); }

.content {
  height: 100%; }

/*# sourceMappingURL=global.css.map */
