@import 'home';
//@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    //overflow-y:hidden;
}

body {
    height: 100%;
    //overflow-y:hidden;
}

.content {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    
}