main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    div {
        display: flex;
        border: 4px solid black;
        position: absolute;
        
        @media screen and (max-width: 90em) {
            
            height: 62.1%;
        }
        //
        background-color:  #faf3eb;
        color: white;
        align-items: center;
        justify-content: center;
         
        p {
            padding: 2em;
            font-size: 1.5em;
        }
        a {
            font-size: 1.2em;
            border: 3px solid;
            padding: 0.5em;
            border: 2px solid black;
            text-transform: uppercase;
            @media screen and (max-width: 90em) {
                font-size: 13px;
                
            }
        }
    }
    #div-1 {
        height: 41%;
        width: 36%;
        flex-direction: column;
        z-index: 1;
        color: black;
        @media screen and (max-width: 90em) {
            P {
                font-size: 16px;    
            }
            
            
        }
        
        
    }
    
    #paralax-1 {
        
        height: 70%;
        width: 65%;
        z-index: 2;
       ;
        left: 35%;
        bottom: -55%;
        background-image: url(/src/assets/img/foto1.jpg);

        /* Set a specific height */
        min-height: 500px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        p {
            
            letter-spacing: 10px;
            font-size: 5.5em;
            padding: 29px;
            font-weight: bold;
            border: 14px solid white;
        } 
    }
    #paralax-2 {
        top: 140%;
        height: 60%;
        width: 68%;
        z-index: 3;
        
        background-image: url(/src/assets/img/foto3.jpg);

        /* Set a specific height */
        min-height: 500px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        p {
            
            letter-spacing: 10px;
            font-size: 5.5em;
            padding: 29px;
            font-weight: bold;
            border: 14px solid white;
        }    
    }
    #div-4 {
        height: 46%;
        width: 33%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 1;
        top: 154%;
        right: 0%;
        color: black;
        @media screen and (max-width: 90em) {
            p {
                font-size: 16px;
                
            }
            height: 62.1%;
        }
    }
}

/* Nav */
nav {
    
    display: flex;
    color: white;
    background-image: url(/src/assets/img/foto2.jpg);
    background-size: cover;
    height: 100%;
    -webkit-box-shadow: inset 0px 111px 51px -28px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 0px 111px 51px -28px rgba(0,0,0,0.84);
    box-shadow: inset 0px 111px 51px -28px rgba(0,0,0,0.84);
    .option1 {
        --bg-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        z-index: 5;
        background-color: var(--bg-color);
        text-transform: uppercase;
        font-weight: bold;
        align-items: center;
        margin-top: 0;
        a { 
            height: 5%;
            color: white;
            text-decoration: none;
            &:hover {
                color: #cb8820;
            }
        }
        
        
    
    #logo {
        --lg-h: 41%;
        --lg-w: 15%;
        --border: 4px;
        display: flex;
        color: white;
        border: var(--border) solid white;
        text-align: center;
        margin: 25px 48px;
        width: var(--lg-w);
        height: var(--lg-h);
        letter-spacing: 5px;
        padding: 1em;
        line-height: 42px;
        
        
        @media screen and (max-width: 90em) {
            font-size: 20px;
        }
        
    }
    #index {
        
        display: flex;
        margin: 30px 0em;
        justify-content: flex-end;
        width: 71%;
        text-align: center;
        align-items: center;
        
        font-size: 20px;
        @media screen and (max-width: 90em) {
            font-size: 12px;
        }
        a {
            text-transform: uppercase;
            margin-left: 2em;
            letter-spacing: 3px;
        }
        #reserve {
            border: 2px solid white;
            padding: 8px;
        }
         
        
        
    }
    

}
.option2 {
    --bg-color: rgba(0, 10, 15, 0.753);
    #logo {
        --lg-w:20%;
        --lg-h:45px;
        --border:2px;
        line-height: 0px;
    }
}

}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    
    bottom: 0;
    background-color: rgba(0, 10, 15, 0.753);
    z-index: 5;
    height: 8%;
    color: white;
    .icons {
        
        a {
            img {
                padding: 0 3px;
                height: 25px;
            }       
        }
    }
    
}
