nav {
    display: flex;
    color: white;
    -webkit-box-shadow: inset 0px 111px 51px -28px rgba(0,0,0,0.84);
    -moz-box-shadow: inset 0px 111px 51px -28px rgba(0,0,0,0.84);
    box-shadow: inset 0px 111px 51px -28px rgba(0,0,0,0.84);
    .trigger {
        position: absolute;
        top: 0;
        width: 100%;
        height: 3%;
        z-index: 4;
    }
    .option1 {
        transition: background 280ms ease-in;
        animation: slide 2s ease;
        @keyframes slide {
            0% {
                transform: translate(0, 20px);
            }
            100% {
                transform: translate(0, 0);
            }
        }
        --bg-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        z-index: 5;
        background-color: var(--bg-color);
        text-transform: uppercase;
        font-weight: bold;
        align-items: center;
        margin-top: 0;
        a { 
            height: 5%;
            color: white;
            text-decoration: none;
            &:hover {
                color: #cb8820;
            }
        }
        
        
    
    #logo {
        --lg-h: 41%;
        --lg-w: 15%;
        --border: 4px;
        display: flex;
        color: white;
        border: var(--border) solid white;
        text-align: center;
        margin: 25px 48px;
        width: var(--lg-w);
        height: var(--lg-h);
        letter-spacing: 5px;
        padding: 1em;
        line-height: 42px;
        animation: slide 2s ease;
        @keyframes slide {
            0% {
                transform: translate(0, 20px);
            }
            100% {
                transform: translate(0, 0);
            }
        }
        
        
        @media screen and (max-width: 90em) {
            font-size: 20px;
        }
        
    }
    #index {
        
        display: flex;
        margin: 30px 0em;
        justify-content: flex-end;
        width: 71%;
        text-align: center;
        align-items: center;
        animation: slide 2s ease;
        @keyframes slide {
            0% {
                transform: translate(0, 20px);
            }
            100% {
                transform: translate(0, 0);
            }
        }
        
        font-size: 20px;
        @media screen and (max-width: 90em) {
            font-size: 12px;
        }
        a {
            text-transform: uppercase;
            margin-left: 2em;
            letter-spacing: 3px;
        }
        #reserve {
            border: 2px solid white;
            padding: 8px;
        }
         
        
        
    }
    
    

}
.scrolled-nav {
    
    --bg-color: rgba(0, 10, 15, 0.753);
    #logo {
        
        --lg-w:20%;
        --lg-h:45px;
        --border:2px;
        line-height: 0px;
        
    }
}

}